<!-- Wrapper-->
  <div id="wrapper">
    <div class="header center container">
      <h1>
        <span class="title">Beer</span>
        <span class="title">Works</span>
      </h1>
    </div>
    <!-- Nav -->
      <div id="nav">
        <a href="#me" class="icon fa-book active"><span>Wiki</span></a>
        <a href="#work" class="icon fa-beer"><span>Beers</span></a>
      </div>

    <!-- Main -->
      <div id="main">

        <!-- Me -->
          <article id="me" class="panel">
            <div class="col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">Larger</button>
              <button type="button" class="btn btn-outline-primary">Dark Lager</button>
              <button type="button" class="btn btn-outline-primary">German Bock</button>
              <button type="button" class="btn btn-outline-primary">Ale</button>
              <button type="button" class="btn btn-outline-primary">Pale Ale</button>
              <button type="button" class="btn btn-outline-primary">IPA</button>
              <button type="button" class="btn btn-outline-primary">Porter</button>
              <button type="button" class="btn btn-outline-primary">Stout</button>  
              <button type="button" class="btn btn-outline-primary">Belgian Style</button>  
              <button type="button" class="btn btn-outline-primary">Wheat Beer</button>  
              <button type="button" class="btn btn-outline-primary">Spontanous Fermenting</button>  
            </div>
            <div class = "col-md-4">
              <a href="#work" class="jumplink pic">
                <img src="images/me.jpg" alt="" />
              </a>
            </div>
          </article>

        <!-- Work -->
          <article id="work" class="panel">
              <%= form_tag("/search", method: "get") do %>
                <%= text_field_tag :q, nil, class: "col-md-6", placeholder: "Enter Beer Name Here" %>
                <%= submit_tag "Search", class: "col-md-2", style: "max-width: 100px;" %>
              <% end %>
              <br />
            <p>
              Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              luctus elit eget interdum.
            </p>
            <section>
              <div class="row">
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
              </div>
            </section>
          </article>
      </div>

    <!-- Footer -->
      <div id="footer">
        <ul class="copyright">
          <li>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Austin,TX</li>
        </ul>
      </div>

  </div>