<!-- Wrapper-->
  <div id="wrapper">
    <div class="header center container">
      <h1>
        <span class="title">Cheers!</span>
      </h1>
    </div>
    <!-- Nav -->
      <div id="nav">
        <a href="#me" class="icon fa-book active"><span>Wiki</span></a>
      </div>

    <!-- Main -->
      <div id="main">

        <!-- Me -->
          <article id="me" class="panel">
            <div class="main-beers active col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="main main-lager btn btn-outline-primary">Lager</button>
              <button type="button" class="main main-dark btn btn-outline-primary">Dark Lager</button>
              <button type="button" class="main main-bock btn btn-outline-primary">German Bock</button>
              <button type="button" class="main main-ale btn btn-outline-primary">Ale</button>
              <button type="button" class="main main-pale-ale btn btn-outline-primary">Pale Ale</button>
              <button type="button" class="main main-ipa btn btn-outline-primary">IPA</button>
              <button type="button" class="main main-porter btn btn-outline-primary">Porter</button>
              <button type="button" class="main main-stout btn btn-outline-primary">Stout</button>  
              <button type="button" class="main main-belgium btn btn-outline-primary">Belgian Style</button>  
              <button type="button" class="main main-wheat btn btn-outline-primary">Wheat Beer</button>  
              <button type="button" class="main main-spontaneous btn btn-outline-primary">Spontaneous Fermenting</button>  
            </div>
            
            <div class="lager hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="lager-btn btn btn-outline-primary style-type">American Lager</button>
              <button type="button" class="lager-btn btn btn-outline-primary style-type">German Helles</button>
              <button type="button" class="lager-btn btn btn-outline-primary style-type">German Pilsener</button>
              <button type="button" class="lager-btn btn btn-outline-primary style-type">Czech or Bohemian Pilsener</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i>
            </div>
            
            <div class="dark-lager hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="normal-dark-lager btn btn-outline-primary style-type">Amber American Lager</button>
              <button type="button" class="normal-dark-lager btn btn-outline-primary style-type">Oktoberfest</button>
              <button type="button" class="schwarzbier btn btn-outline-primary style-type">German Schwarzbier</button>
              <button type="button" class="normal-dark-lager btn btn-outline-primary style-type">Vienna Lager</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            
            <div class="german-bock hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="traditional-bock btn btn-outline-primary style-type">Traditional Bock</button>
              <button type="button" class="traditional-bock btn btn-outline-primary style-type">Doppelbock</button>
              <button type="button" class="maibock-bock btn btn-outline-primary style-type">Weizenbock</button>
              <button type="button" class="maibock-bock btn btn-outline-primary style-type">Maibock</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="ale hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="brown-ale btn btn-outline-primary style-type">American Brown Ale</button>
              <button type="button" class="brown-ale btn btn-outline-primary style-type">English Brown Ale</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i>
            </div>
            
            <div class="pale-ale hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="amber-pale-ale btn btn-outline-primary style-type">American Amber Ale</button>
              <button type="button" class="normal-pale-ale btn btn-outline-primary style-type">American Pale Ale</button>
              <button type="button" class="normal-pale-ale btn btn-outline-primary style-type">Blonde Ale</button>
              <button type="button" class="normal-pale-ale btn btn-outline-primary style-type">English Bitter</button> 
              <button type="button" class="normal-pale-ale btn btn-outline-primary style-type">English Pale Ale</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="india-pale-ale hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="ipa btn btn-outline-primary style-type">American IPA</button>
              <button type="button" class="ipa btn btn-outline-primary style-type">Imperial or Double IPA</button>
              <button type="button" class="ipa btn btn-outline-primary style-type">English IPA</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="porter hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="port btn btn-outline-primary style-type">American Imperial Porter</button>
              <button type="button" class="port btn btn-outline-primary style-type">English Brown Porter</button>
              <button type="button" class="port btn btn-outline-primary style-type">Robust Porter</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i>
            </div>
            
            <div class="stout hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="stouts btn btn-outline-primary style-type">American Stout</button>
              <button type="button" class="stouts btn btn-outline-primary style-type">Irish Dry Stout</button>
              <button type="button" class="stouts btn btn-outline-primary style-type">American Imperial Stout</button>
              <button type="button" class="stouts btn btn-outline-primary style-type">Oatmeal Stout</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="belgium hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="belg-pale btn btn-outline-primary style-type">Belgian Pale Ale</button>
              <button type="button" class="belg-dubb btn btn-outline-primary style-type">Belgian Dubbel</button>
              <button type="button" class="belg-dubb btn btn-outline-primary style-type">Belgian Tripel</button>
              <button type="button" class="belg-quad btn btn-outline-primary style-type">Belgian Quadrupel</button> 
              <button type="button" class="belg-pale btn btn-outline-primary style-type">Belgian Saison</button>
              <button type="button" class="belg-quad btn btn-outline-primary style-type">Belgian Strong Dark Ale</button> 
              <br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="wheat hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="wit btn btn-outline-primary style-type">Belgian Witbier</button>
              <button type="button" class="amer-wheat btn btn-outline-primary style-type">Berliner Weisse</button>
              <button type="button" class="hefe btn btn-outline-primary style-type">Dunkelweizen</button> 
              <button type="button" class="hefe btn btn-outline-primary style-type">Hefeweizen</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="spontaneous hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="amer-sour btn btn-outline-primary style-type">American Sour</button>
              <button type="button" class="red-beer btn btn-outline-primary style-type">Belgian Fruit Lambic</button>
              <button type="button" class="red-beer btn btn-outline-primary style-type">Flanders Red Ale</button>
              <button type="button" class="amer-sour btn btn-outline-primary style-type">Belgian Gueuze</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class = "col-md-4 info">
              <section class="rw-wrapper">
                <h2 class="rw-sentence">	
                  <div>
                    <p id = "description">
                      
                    </p>
                    
                  </div>				
                  <div id = "intro" class="active rw-words rw-words-1">
                    <span>cheers</span>
                    <span>干杯</span>
                    <span>proost</span>
                    <span>skål</span>
                    <span>santé</span>
                    <span>kippis</span>
                  </div>
                </h2>
              </section>
              
            </div>
      
            <div class = "col-md-4 pic">
                  <div id="action">
                      <div id="keg">
                          <div id="pipe-handle"></div>
                          <div id="pipe"></div>       
                          <div id="pipe-front"></div>
                      </div>
                  
                      <div class="glass">
                          <div class="beer" id='beer'></div>
                          <div class="handle">
                              <div class="top-right"></div>
                              <div class="bottom-right"></div>
                          </div>
                          <div class="front-glass"></div>
                      </div>
                  </div>
            </div>
          </article>
      </div>

    <!-- Footer -->
      <div id="footer">
        <ul class="copyright">
          <li>Made with <i class="fa fa-beer" aria-hidden="true"></i> in Austin,TX</li>
        </ul>
      </div>

  </div>