<!-- Wrapper-->
  <div id="wrapper">
    <div class="header center container">
      <h1>
        <span class="title">Cheers!</span>
      </h1>
    </div>
    <!-- Nav -->
      <div id="nav">
        <a href="#me" class="icon fa-book active"><span>Wiki</span></a>
        <a href="#work" class="icon fa-beer"><span>Beers</span></a>
      </div>

    <!-- Main -->
      <div id="main">

        <!-- Me -->
          <article id="me" class="panel">
            <div class="main-beers active col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="main main-larger btn btn-outline-primary">Larger</button>
              <button type="button" class="main main-dark btn btn-outline-primary">Dark Lager</button>
              <button type="button" class="main main-bock btn btn-outline-primary">German Bock</button>
              <button type="button" class="main main-ale btn btn-outline-primary">Ale</button>
              <button type="button" class="main main-pale-ale btn btn-outline-primary">Pale Ale</button>
              <button type="button" class="main main-ipa btn btn-outline-primary">IPA</button>
              <button type="button" class="main main-porter btn btn-outline-primary">Porter</button>
              <button type="button" class="main main-stout btn btn-outline-primary">Stout</button>  
              <button type="button" class="main main-belgium btn btn-outline-primary">Belgian Style</button>  
              <button type="button" class="main main-wheat btn btn-outline-primary">Wheat Beer</button>  
              <button type="button" class="main main-spontaneous btn btn-outline-primary">Spontaneous Fermenting</button>  
            </div>
            
            <div class="larger hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Larger</button>
              <button type="button" class="btn btn-outline-primary">German Helles</button>
              <button type="button" class="btn btn-outline-primary">German Pilsner</button>
              <button type="button" class="btn btn-outline-primary">Czech or Bohemian Pilsner</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i>
            </div>
            
            <div class="dark-larger hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">Amber American Larger</button>
              <button type="button" class="btn btn-outline-primary">Oktoberfest</button>
              <button type="button" class="btn btn-outline-primary">German Schwarzbier</button>
              <button type="button" class="btn btn-outline-primary">Vienna Larger</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            
            <div class="german-bock hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">Traditional Bock</button>
              <button type="button" class="btn btn-outline-primary">Doppelbock</button>
              <button type="button" class="btn btn-outline-primary">Weizenbock</button>
              <button type="button" class="btn btn-outline-primary">Maibock</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="ale hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Brown Ale</button>
              <button type="button" class="btn btn-outline-primary">English Brown Ale</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i>
            </div>
            
            <div class="pale-ale hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Amber Ale</button>
              <button type="button" class="btn btn-outline-primary">American Pale Ale</button>
              <button type="button" class="btn btn-outline-primary">Blonde Ale</button>
              <button type="button" class="btn btn-outline-primary">English Bitter</button> 
              <button type="button" class="btn btn-outline-primary">English Pale Ale</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="india-pale-ale hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American IPA</button>
              <button type="button" class="btn btn-outline-primary">Imperial or Double IPA</button>
              <button type="button" class="btn btn-outline-primary">English IPA</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="porter hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Imperial Porter</button>
              <button type="button" class="btn btn-outline-primary">English Brown Porter</button>
              <button type="button" class="btn btn-outline-primary">Robust Porter</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i>
            </div>
            
            <div class="stout hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Stout</button>
              <button type="button" class="btn btn-outline-primary">Irish Dry Stout</button>
              <button type="button" class="btn btn-outline-primary">American Imperial Stout</button>
              <button type="button" class="btn btn-outline-primary">Oatmeal Stout</button>
              <button type="button" class="btn btn-outline-primary">Milk Stout</button> 
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="belgium hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">Belgian Pale Ale</button>
              <button type="button" class="btn btn-outline-primary">Belgian Dubbel</button>
              <button type="button" class="btn btn-outline-primary">Belgian Tripel</button>
              <button type="button" class="btn btn-outline-primary">Belgian Quadrupel</button> 
              <button type="button" class="btn btn-outline-primary">Belgian Strong Dark Ale</button> 
              <button type="button" class="btn btn-outline-primary">Belgian Saison</button>
              <br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="wheat hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Pale Wheat</button>
              <button type="button" class="btn btn-outline-primary">Belgian Witbier</button>
              <button type="button" class="btn btn-outline-primary">Berliner Weisse</button>
              <button type="button" class="btn btn-outline-primary">Dunkelweizen</button> 
              <button type="button" class="btn btn-outline-primary">Hefeweizen</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
            <div class="spontaneous hide col-md-4" style = "margin-top:3%;line-height:70px;">
              <button type="button" class="btn btn-outline-primary">American Sour</button>
              <button type="button" class="btn btn-outline-primary">Belgian Fruit Lambic</button>
              <button type="button" class="btn btn-outline-primary">Flanders Red Ale</button>
              <button type="button" class="btn btn-outline-primary">Belgian Gueuze</button>
              <br /><br />
              <i class="fa fa-chevron-circle-left"></i> 
            </div>
            
      
            <div class = "col-md-8 pic">
            </div>
          </article>

        <!-- Work -->
          <article id="work" class="panel">
              <%= form_tag("/search", method: "get") do %>
                <%= text_field_tag :q, nil, class: "col-md-6", placeholder: "Enter Beer Name Here" %>
                <%= submit_tag "Search", class: "col-md-2", style: "max-width: 100px;" %>
              <% end %>
              <br />
            <p>
              Phasellus enim sapien, blandit ullamcorper elementum eu, condimentum eu elit.
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
              luctus elit eget interdum.
            </p>
            <section>
              <div class="row">
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u 12u$(mobile)">
                </div>
                <div class="4u$ 12u$(mobile)">
                </div>
              </div>
            </section>
          </article>
      </div>

    <!-- Footer -->
      <div id="footer">
        <ul class="copyright">
          <li>Made with <i class="fa fa-beer" aria-hidden="true"></i> in Austin,TX</li>
        </ul>
      </div>

  </div>